{% extends "@CJWConfigProcessor/pagelayout.html.twig" %}

{% block line_template_stylesheets %}
    <link rel="stylesheet" href={{ asset("bundles/cjwconfigprocessor/css/parameter_display.css") }}>
{% endblock %}

{% block param_content %}
    {% if siteAccess is defined and not siteAccess is empty %}
        <h2>Parameters for siteaccess: "{{ siteAccess }}"</h2>
    {% else %}
        {% set siteAccess = "unknown" %}
        <h2>Parameters for siteaccess: "{{ siteAccess }}"</h2>
    {% endif %}

    <div siteaccess="{{ siteAccess }}" class="param_list tab-content container mt-4 px-5">
        {% include '@CJWConfigProcessor/line/recursive_param_resolution/_recursive_param_resolver.html.twig' ignore missing with {"parameters" : siteAccessParameters} only %}
    </div>
{#    {{ dump(siteAccessParameters) }}#}
{% endblock %}

{% block line_template_javascripts %}
    <script src={{ asset("bundles/cjwconfigprocessor/js/param_list_index.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/ParameterDisplay.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/ParameterBranchDisplay.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/ParameterLocationRetrieval.js") }}></script>
{% endblock %}
