{% extends "@CJWConfigProcessor/pagelayout.html.twig" %}

{% block line_template_stylesheets %}
    <link rel="stylesheet" href={{ asset("bundles/cjwconfigprocessor/css/site_access_compare.css") }}>
    <link rel="stylesheet" href={{ asset("bundles/cjwconfigprocessor/css/parameter_display.css") }}>
    <link rel="stylesheet" href={{ asset("bundles/cjwconfigprocessor/css/site_access.css") }}>
{% endblock %}

{% block param_content %}
    <div class="compare_display">
        <div siteaccess="{{ firstSiteAccess }}" class="param_list first_list">
            <h3>{{ firstSiteAccess }}</h3>
            {% include '@CJWConfigProcessor/line/recursive_param_resolution/_recursive_param_resolver.html.twig' ignore missing with {"parameters" : firstSiteAccessParameters} only %}
        </div>

        <div siteaccess="{{ secondSiteAccess }}" class="param_list second_list">
            <h3>{{ secondSiteAccess }}</h3>
            {% include '@CJWConfigProcessor/line/recursive_param_resolution/_recursive_param_resolver.html.twig' ignore missing with {"parameters" : secondSiteAccessParameters} only %}
        </div>
    </div>
{% endblock %}

{% block additional_tabs %}
    <li role="tab"><a id="cjw_show_common_parameters" href="#">Common Parameters Only</a></li>
    <li role="tab"><a id="cjw_show_uncommon_parameters" href="#">Uncommon Parameters Only</a></li>
    <li role="tab"><a id="cjw_highlight_differences" href="#">Highlight Differences</a></li>
{% endblock %}

{% block line_template_javascripts %}
    <script src={{ asset("bundles/cjwconfigprocessor/js/param_list_index.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/ParameterDisplay.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/ParameterBranchDisplay.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/ParameterLocationRetrieval.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/split_view_index.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/SiteAccessComparisonUtility.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/SiteAccessDifferencesHighlighter.js") }}></script>
{% endblock %}
