{% extends "@CJWConfigProcessor/pagelayout.html.twig" %}

{% block line_template_stylesheets %}
    <link rel="stylesheet" href={{ asset("bundles/cjwconfigprocessor/css/site_access.css") }}>
    <link rel="stylesheet" href={{ asset("bundles/cjwconfigprocessor/css/site_access_list.css") }}>
{% endblock %}

{% block param_content %}
    <div class="tab-content container mt-4 px-5">
{#        <p>Available Site Accesses:</p>#}
{#        <ul role="tablist" class="cjw_site_access_list">#}
{#            {% for siteAccess in siteAccesses %}#}
{#                <li role="tab">#}
{#                    <a href="{{ path("cjw_config_processing.specific_site_access_param_list", {"siteAccess": siteAccess} ) }}">#}
{#                        {{ siteAccess }}#}
{#                    </a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}

        <div class="ez-table-header">
            <div class="ez-table-header__headline">
                Available Site Accesses:
            </div>
        </div>
        <table class="ez-table table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Access
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for siteAccess in siteAccesses %}
                <tr>
                    <td class="ez-table__cell ez-table__cell--has-checkbox">
                        <input type="checkbox" id="{{ siteAccess }}-Selection">
                    </td>
                    <td class="ez-table__cell">
                        <a href="{{ path("cjw_config_processing.specific_site_access_param_list", {"siteAccess": siteAccess} ) }}">
                            {{ siteAccess }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div id="sendSiteAccessHolder">
            <button id="sendSplitViewSiteAccessesButton" class="transparentButton">Compare SiteAccesses</button>
        </div>
    </div>
{% endblock %}

{#{% block additional_tabs %}#}
{#    <li role="tab"><a id="cjw_split_selection" href="#">Split View</a></li>#}
{#{% endblock %}#}

{% block right_sidebar %}
    <div class="pt-4 px-0 bg-secondary ez-context-menu">
        <div class="ez-sticky-container">
            {{ knp_menu_render('cjw_config_processing.menu.site_access_selection.sidebar_right', {'template': '@ezdesign/ui/menu/sidebar_right.html.twig'}) }}
        </div>
    </div>
{% endblock %}

{% block line_template_javascripts %}
    <script src={{ asset("bundles/cjwconfigprocessor/js/split_view_index.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/SAListSplitScreen.js") }}></script>
{% endblock %}
