{% extends "@CJWConfigProcessor/index.html.twig" %}

{% block line_template_stylesheets %}
    <link rel="stylesheet" href={{ asset("bundles/cjwconfigprocessor/css/parameter_display.css") }}>
{% endblock %}

{% block param_list %}
    <h2>Parameters for siteaccess: "{{ app.request.get('siteaccess').name }}"</h2>
    <div class="param_list">
        {% include '@CJWConfigProcessor/line/recursive_param_resolution/_recursive_param_resolver.html.twig' ignore missing with {"parameters" : siteAccessParameters} only %}
    </div>
{#    {{ dump(siteAccessParameters) }}#}
{% endblock %}

{% block line_template_javascripts %}
    <script src={{ asset("bundles/cjwconfigprocessor/js/line_template_index.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/ParameterDisplay.js") }}></script>
{% endblock %}
