{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain "cjw_processed_parameters_view" %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset("bundles/cjwconfigprocessor/css/bundle.css") }}>

    {% block line_template_stylesheets %}{% endblock %}
{% endblock %}

{% block content %}

    <div class="cjw_config_processing_content">
        <div class="cjw_header">
            <span>CJW-network Config Processor</span>
            <form class="searchbar">
                <input type="text" placeholder="Search...">
            </form>
        </div>

        <div class="cjw_main_body">
            <div class="cjw_side_bar">
                <ul class="cjw_menu" role="tablist">
                    <li role="tab"><a id="cjw_param_list_link" href="{{ path("cjw_config_processing.param_list") }}">Parameter-List</a></li>
                    <li role="tab"><a id="cjw_site_access_list" href="{{ path("cjw_config_processing.site_access_selection") }}">Site Access Selection</a></li>
                    {% block additional_tabs %} {% endblock %}
                </ul>
            </div>

            <div class="cjw_main_section">
                {% block param_content %} {% endblock %}
            </div>
        </div>

        <div class="scroll_up_button">
            <button class="dont_display">^</button>
        </div>

{#        <div class="cjw_footer">#}
{#            <span>This could be the beginning of a wonderful footer</span>#}
{#        </div>#}
    </div>
{% endblock %}

{% block javascripts %}
    <script src={{ asset("bundles/cjwconfigprocessor/js/bundle_index.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/SearchBarUtility.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/ScrollUpButtonDisplay.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/SAListSplitScreen.js") }}></script>
    {% block line_template_javascripts %}{% endblock %}
{% endblock %}
