{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain "cjw_processed_parameters_view" %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset("bundles/cjwconfigprocessor/css/bundle.css") }}>

    {% block line_template_stylesheets %}{% endblock %}
{% endblock %}

{% block navigation %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="cjw_config_processing_content">
        <div class="cjw_main_body ez-main-row row">
            {% block left_sidebar %}
                <div class="bg-dark pt-4 px-0 ez-side-menu">
                    <div class="ez-sticky-container">
                        {{ knp_menu_render('cjw_config_processing.menu.sidebar_left', {'template': '@ezdesign/ui/menu/sidebar_left.html.twig'}) }}
                    </div>
                </div>
            {% endblock %}

            <div class="cjw_main_section ez-sticky-container ez-content-container pb-4">
                {% block list_header %} {% endblock %}

                {% block param_content %}
                    {% block search_bar %}
                        <form class="searchbar ez-sticky-container">
                            <input type="text" placeholder="Search...">
                        </form>
                    {% endblock %}
                {% endblock %}
            </div>

            {% block right_sidebar %}{% endblock %}
        </div>

        <div class="scroll_up_button">
            <button class="dont_display">^</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src={{ asset("bundles/cjwconfigprocessor/js/bundle_index.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/SearchBarUtility.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/ScrollUpButtonDisplay.js") }}></script>
    <script src={{ asset("bundles/cjwconfigprocessor/js/SAListSplitScreen.js") }}></script>
    {% block line_template_javascripts %}{% endblock %}
{% endblock %}
