{# This template serves to recursively go through all entries in the key => value array that is given to it and creates a list from that. #}
{% for key, value in parameters %}

    {# If there is no more associative key, the value of the path is reached, so treat that differently. #}
    {% if key is same as(0) or is_numeric(key) or key is same as("parameter_value")%}
        {# Is the value in itself an array? Then go through that one by one as well. #}
        {% if value is iterable %}
            {% include "@CJWConfigProcessor/line/recursive_param_resolution/_recursive_param_resolver.html.twig" ignore missing with { "parameters" : value } only %}
        {# Or is it just one single value? #}
        {% else %}
            <div class="param_list_values dont_display" value="{{ value | boolean }}">{{ value | boolean }}</div>
        {% endif %}

    {# If the value can still be iterated upon, but the key has not reached a plain number yet, continue with the procedure #}
    {% elseif value is iterable %}
        <div class="param_list_items dont_display">
            <div class="param_list_keys" key="{{ key |trim }}">
                <span class="param_item_toggle">
                    <svg class="ez-icon ez-icon--small">
                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#caret-next"></use>
                    </svg>
                </span>

                <span>{{ key |trim }}:</span>

                <button class="open_subtree">
                    <svg class="ez-icon ez-icon--small">
                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#copy-subtree"></use>
                    </svg>
                </button>

                {% if "parameter_value" in value|keys %}
                    <button class="location_info">i</button>
                {% endif %}
            </div>
            {% include "@CJWConfigProcessor/line/recursive_param_resolution/_recursive_param_resolver.html.twig" ignore missing with { "parameters" : value } only %}
        </div>


    {# As a catch-all, if the rest doesn't match but there is still content #}
    {% else %}
        <div class="param_list_items dont_display">
            <div class="param_list_keys" key="{{ key |trim }}">
                <span class="param_item_toggle">
                    <svg class="ez-icon ez-icon--small">
                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#caret-next"></use>
                    </svg>
                </span>

                <span>{{ key |trim }}:</span>
            </div>

            <div class="param_list_values dont_display" value="{{ value | boolean }}">
                {{ value | boolean }}
            </div>
        </div>
    {% endif %}

{% endfor %}
